<a href="https://colab.research.google.com/github/gianpelena/58002_OOP/blob/main/Looping_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
  #Example 1 
  week = ["Sunday", "Monday", "Tuesday", "Thursday" , "Friday", "Saturday"]

  for x in week:
    print(x)

Sunday
Monday
Tuesday
Thursday
Friday
Saturday

In [17]:
# Example 2 (The Break Statement)

week = [ "Sunday", "Monday", "Tuesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)
if x=="Thursday":"break"

Sunday
Monday
Tuesday
Thursday
Friday
Saturday

In [24]:
#Example 3 (The Break Statement)
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [20]:
#For Loop through string
for x in "week":
  print(x)

w
e
e
k

In [19]:
#For Loop using break statement
for x in week:
  print(x)
  if x ==" Thursday":
    break

Sunday
Monday
Tuesday
Thursday
Friday
Saturday

In [21]:
#to display only Thursday
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [28]:
#The range function
for x in range (6):
  print(x)

for x in range (2,6):
    print(x)

0
1
2
3
4
5
2
3
4
5

In [29]:
for x in range (2,6,2):
  print(x)

2
4

In [30]:
#Nested Loop

adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [31]:
#Example 5
i = 1
while i < 6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

In [33]:
#While loop using break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [35]:
#While loop using break statement

In [36]:
#Activity 1

greeting = ["hello"]
no =(0,1,2,3,4,5,6,7,8,9,10)

for x in greeting:
  for y in no:
    print(x,y)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [37]:
#Let's Try

i=3 
while i < 10:
  print(i)
  if i==10:
    break
  i += 1

3
4
5
6
7
8
9